@import (reference) "styles.less";

#audioPlayer {
position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: @primary-color;
  color: @white1;
}

#toggleAudio {
  content: '\f144';
  font-family: @fa;
}

#actionWrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 6;
}

#playbackActionButton {
  font-size: 80px;
  color: @white1;
  &:hover {
    color: @secondary-color;
  }

}

