@import (reference) '../styles.less';


.actionbar {
  button, a {
    background: @dark6;
    width: 40px;
    height: 40px;
    &:hover {
      background: @dark5;
    }
  }
  a {
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    color: @dark2;
  }
}

.episodeBySubscriptionBrowser {
  display: none;
}

.srcForm{
  text-align: center;
  .standardButton {
    background: @primary-color;
    color: @white1;
    padding: 0 5px;
  }
}

.addField {
  .headerMenu {
    text-align: center;
  }
}