<div ng-controller="CoreController">
    <header class="viewHeader clearfix">
        <h1>About</h1>
    </header>
    <div class="swContent">
        <p>This application is for demonstration purposes only. Zowcast is my sandbox for testing out Angular,
            responsive CSS and Symfony2 PHP framework. Please test out the demo, I'd love to hear your thoughts. You
            can also download the source code for the app on Github:
            <a href="https://github.com/shawnbeta/zowcast" title="Herocast on Github">
                <i class="fa fa-github"></i></a>.
        </p>
        <p>
            Send feedback to: <a href="mailto:findme@shawnbeta.com">findme@shawnbeta.com</a>
        </p>
    </div>
</div>
