
{{vm.loading}}
<header class="viewHeader clearfix">
    <h1>
        <span ng-if="!vm.activeSubscription.id">Episodes</span>
        <span ng-if="vm.activeSubscription.id">{{vm.activeSubscription.title}}</span></h1>
    <div class="headerMenu">
        <button ng-if="vm.activeSubscription.id" class="ebsShowAll swButton" ng-click="ebsShowAll()">
            All Episodes
        </button>
        <button class="ebsToggler swButton" ng-click="toggleEBSDisplay()">
            By Subscription
        </button>
        <button class="viewSwitch" ng-click="switchViewStyle('list')">
            <i class="fa fa-th-list" ng-class="{'selected' : vm.viewStyle == 'list'}"></i>
        </button>
        <button class="viewSwitch" ng-click="switchViewStyle('grid')">
            <i class="fa fa-th" ng-class="{'selected' : vm.viewStyle == 'grid'}"></i>
        </button>
    </div>
    <div class="subscriptionBrowserWrapper"></div>
</header>

<episode-details></episode-details>

<ebs></ebs>

<div class="{{vm.viewStyle}}" ng-if="vm.episodes">
    <episode-item ng-repeat="e in vm.episodes | orderByPubDate | ebsFilter"></episode-item>
</div>

<span ng-if="vm.episodes.length == 0">
        <p>You have no episodes. First you'll need to add a subscription.<br/>
            Select sync to add subscriptions from the server or select add to enter a URL.</p>
        <admin-bar></admin-bar>
</span>

