<header class="viewHeader clearfix">
    <h1>Episodes</h1>
    <div class="headerMenu">
        <button class="subscriptionMenuToggle swButton" ng-click="toggleSubscriptionMenu()">
            Browse By Subscription
        </button>
        <button class="viewSwitch" ng-click="setEpisodeStyle('list')">
            <i class="fa fa-th-list" ng-class="{'selected' : episodeStyle == 'list'}"></i>
        </button>
        <button class="viewSwitch" ng-click="setEpisodeStyle('grid')">
            <i class="fa fa-th" ng-class="{'selected' : episodeStyle == 'grid'}"></i>
        </button>
    </div>
</header>

<subscription-navigation></subscription-navigation>

<episodeDetails></episodeDetails>

<ul>
    <episodeItem ng-repeat="e in episodes|orderByPubDate"></episodeItem>
</ul>